body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
h2 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
.app {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #930867;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #c750a1;
}

